<h1 style="text-align: center">Branże</h1>
<br>
<div style="display: flex;justify-content: center;align-items: center;
  height: 20vh;">

<ul>
  <% @Branza.each do |branza| %>
    <li>
      <%= branza.nazwa %>
    </li>
  <% end %>


</ul>
</div>