<h1 style="text-align: center">Stworz branżę</h1>
<div style="display: flex;justify-content: center;align-items: center;
  height: 20vh;">
  <% if user_signed_in? && current_user.admin? %>
<%= form_with model: @Branza do |form| %>
  <div>
    <%=form.label :nazwa %>
    <br>
    <br>
    <%= form.text_field :nazwa %>
  </div>
  <div>
    <br>
    <br>
    <%=form.submit %>
  </div>
<% end %>
    <%else %>
    <p>Nie masz uprawnień !!!</p>
  <%end %>
</div>