<h1 style="text-align: center">Stworz branżę</h1>
<div style="display: flex;justify-content: center;align-items: center;
  height: 20vh;">
<%= form_with model: @Branza do |form| %>
  <div>
    <%=form.label :nazwa %>
    <br>
    <br>
    <%= form.text_field :nazwa %>
  </div>
  <div>
    <br>
    <br>
    <%=form.submit %>
  </div>
<% end %>
</div>