<h1>Stworz branżę</h1>

<%= form_with model: @Branza do |form| %>
  <div>
    <%=form.label :nazwa %>
    <br>
    <br>
    <%= form.text_field :nazwa %>
  </div>
  <div>
    <br>
    <br>
    <%=form.submit %>
  </div>
<% end %>