<h1 style="text-align: center">Firmy</h1>
<br>
<div style="display: flex;justify-content: center;align-items: center;
  height: 20vh;">

  <ul>
    <% @Firma.each do |firma| %>
      <li>
        <%= firma.nazwa %>
        <% if firma.image.present? %>
          <p>
            <%= image_tag firma.image.url %>
          </p>
        <% end %>
      </li>

    <% end %>


  </ul>
</div>