<!DOCTYPE html>
<html>
<head>
  <title>404 - Strona nie znaleziona</title>
</head>
<body>
<h1>404 - Strona nie znaleziona</h1>
<p>Przepraszamy, ale strona, której szukasz, nie istnieje.</p>
</body>
</html>
