.btn {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #007BFF; /* niebieski kolor */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.btn:hover {
    background-color: #0056b3; /* ciemniejszy niebieski przy najechaniu */
}

.large-btn {
    width: 85%; /* szerokość przycisku */
    margin: 10px 0; /* odstępy między przyciskami */
}
.small-btn{
    width: 200px; /* szerokość przycisku */
    margin: 10px 0; /* odstępy między przyciskami */
}

.dotted-hr {
    border: none;
    border-top: 3px dotted #128ac6; /* Ustawia grubość, styl i kolor linii */
    color: #128ac6; /* Kolor linii */
    height: 1px;
    width: 100%;
}
.no-style {
    list-style-type: none; /* Usuwa numery z ol i kropki z ul */

}
.square-btn {
    width: 120px; /* szerokość przycisku */
    height: 120px; /* wysokość przycisku */
    padding: 0; /* wyłączenie paddingu, aby przycisk był dokładnie kwadratowy */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* odstępy między przyciskami */
    border: solid 3px darkblue ;
    border-radius: 15px;
}
.moja-tabela {
    width: 70%; /* Rozciągnij tabelę na 100% szerokości kontenera */
}
.moja-tabela th, .moja-tabela td {
    padding: 10px; /* Dodaj odstępy wewnętrzne */
    width: 50%; /* Rozciągnij kolumny równomiernie */
    text-align: center;

    font-size: 25px;

}
.moja-tabela th {
    background-color: #347ecc;
}
.moja-tabela td {
    background-color: #5d9bcc;
}
.moja-tabela th:nth-child(1), .moja-tabela td:nth-child(1) {
    width: 40%; /* Pierwsza kolumna szersza */
}
.moja-tabela th:nth-child(2), .moja-tabela td:nth-child(2) {
    width: 30%; /* Druga kolumna węższa */
}
.table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* jeśli chcesz, aby kontener miał określoną wysokość */
}