<!DOCTYPE html>
<html>
  <head>
    <title>Projekt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>

  <header>
    <div style="float: left;width: 33%; background-color: grey;">
  <h1 style="text-align: center" >Branże</h1>
      <div >
    <a href="/branzas/add">Dodaj branze</a>
      <br>

      <a href="/branzas">Obejrzyj branze</a>
      </div>
    </div>
    <div style="float: left;width: 33%;background-color: grey;">
      <h1 style="text-align: center">Firmy</h1>

      <a href="/firma/add">Dodaj firme</a>
      <br>

      <a href="/firma">Przejrzyj firmy</a>

    </div>
    <div style="float: left;width: 33%;background-color: grey;">
      <h1 style="text-align: center">Oferty</h1>
      <a href="/oferty/add">Dodaj oferte</a>
      <br>

      <a href="/oferty">Przejrzyj oferty</a>
    </div>
  </header>

  </body>
  <%= yield %>
</html>
